# backend-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-backend-deployment
  labels:
    app: django-backend
spec:
  # Nombre de pods (répliques) à maintenir
  replicas: 2 
  selector:
    matchLabels:
      app: django-backend
  template:
    metadata:
      labels:
        app: django-backend
    spec:
      containers:
      - name: django-backend
        # REMPLACER par le chemin de votre image Docker (ex: mon-docker-hub/django-backend:latest)
        image: VOTRE_IMAGE_BACKEND_ICI 
        ports:
        - containerPort: 8000
        env:
          # Les variables d'environnement de la BD DOIVENT correspondre au service PostgreSQL K8s
          - name: DATABASE_NAME
            value: "nom_de_votre_bd"
          - name: DATABASE_USER
            value: "utilisateur_bd"
          # UTILISER un secret K8s pour les mots de passe en production !
          - name: DATABASE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-credentials # Nom du Secret K8s (voir section B)
                key: password
          - name: DATABASE_HOST
            value: "postgres-service" # Nom du Service K8s PostgreSQL
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: django-secret # Nom du Secret K8s (voir section B)
                key: secret-key
        resources:
          limits:
            memory: "256Mi"
            cpu: "250m"